<app-header titulo="Grid row"></app-header>

<ion-content padding fullscreen>
  <ion-grid fixed> 
    <ion-row>
      <ion-col  size-lg="3" size-md="4" size-sm="6" size-xs="12"    
                *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis beatae voluptates 
            consectetur quod facere nihil excepturi minima veniam unde sint ex accusamus nostrum, 
            fugit doloribus possimus officiis eveniet reiciendis ut.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
