<app-header titulo="card"></app-header>

<ion-content padding>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card subtitle</ion-card-subtitle>
      <ion-card-title>Card title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae ratione amet, in veniam nobis, perspiciatis cumque reprehenderit!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae ratione amet, in veniam nobis, perspiciatis cumque reprehenderit!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src='/assets/shapes.svg'></ion-img>
  </ion-card>
</ion-content>
